<section class="no-padding" id="projects">
    <!-- Modal -->
    <div class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-text">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Bloccit</h4>
          </div>
          <div class="modal-body modal-text">
             <p> A reddit clone, allowing users to post, comment, share links, vote on posts, and favorite.</p>
             <p>Bloccit was the first Rails project I made. I worked closely together with my mentor, Richard Newman, to understand and internalize the concepts necessary to build Bloccit.</p>
             <p>The goal of Bloccit was to become familiar with the building blocks of Ruby/Rails. We touched on most major concepts within Rails.</p>
             <p>Some of the challenges involved included, but were not limited to:</p>
              <ul>
                  <li>
                      Test-Driven-Development to ensure stability and refactoring possiblity.
                  </li>
                  <li>
                      Designing a basic UI for end-users
                  </li>
                  <li>
                      Creating user authentication and sessions from scratch
                  </li>
                  <li>
                      Deployment and managing a production environment
                  </li>
                  <li>
                      Building an API to send and receive data
                  </li>
              </br>
                  <%# image_tag %>
                  <a href= "https://github.com/yakschuss/Bloccit" >Source Code</a>
                  <div class="portfolio-box-caption">
              </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Blocitoff Modal -->
    <div class="modal fade" id="project2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-text">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Blocitoff</h4>
          </div>
          <div class="modal-body modal-text">
              <ul>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
              </br>
                  <%# image_tag %>
                  <a href= "https://github.com/yakschuss/bloccitoff" >Source Code</a>
                  <div class="portfolio-box-caption">
              </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Collably Modal -->
    <div class="modal fade" id="project3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-text">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Collably</h4>
          </div>
          <div class="modal-body modal-text">
              <ul>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
              </br>
                  <%# image_tag %>
                  <a href= "https://github.com/yakschuss/collably" >Source Code</a>
                  <div class="portfolio-box-caption">
              </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Open-Todo-API Modal -->
    <div class="modal fade" id="project4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-text">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Open-Todo-Api</h4>
          </div>
          <div class="modal-body modal-text">
              <ul>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
              </br>
                  <%# image_tag %>
                  <a href= "https://github.com/yakschuss/Open-Todo-Api" >Source Code</a>
                  <div class="portfolio-box-caption">
              </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--  Modal
    <div class="modal fade" id="project5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-text">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Open-Todo-Api</h4>
          </div>
          <div class="modal-body modal-text">
              <ul>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
              </br>
                  <%# image_tag %>
                  <a href= "https://github.com/yakschuss/" >Source Code</a>
                  <div class="portfolio-box-caption">
              </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
        Modal
    <div class="modal fade" id="project6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header modal-text">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Open-Todo-Api</h4>
          </div>
          <div class="modal-body modal-text">
              <ul>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
                  <li>

                  </li>
              </br>
                  <%# image_tag %>
                  <a href= "https://github.com/yakschuss/" >Source Code</a>
                  <div class="portfolio-box-caption">
              </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    -->
    <!-- Triggers -->
    <div class="container-fluid portfolio-container">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#project1">
                    <%= image_tag "grayscale/projects/bloccit.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name modal-button-title">
                                <h4>
                                    Bloccit
                                </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#project2">
                    <%= image_tag "grayscale/projects/blocitoff.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name modal-button-title">
                                <h4>
                                    Blocitoff
                                </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#project3">
                    <%= image_tag "grayscale/projects/collably.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name modal-button-title">
                            <h4>
                                Collably
                            </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#project4">
                    <%= image_tag "grayscale/projects/open_todo_api.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name modal-button-title">
                                <h4>
                                    Open-Todo-Api
                                </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box data-toggle="modal" data-target="#project5"">
                    <%= image_tag "grayscale/projects/wip.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name modal-button-title">
                                <h4>
                                    Come Back Soon!
                                </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box data-toggle="modal" data-target="#project6"">
                    <%= image_tag "grayscale/projects/wip.png", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name modal-button-title">
                                <h4>
                                    Come Back Soon!
                                </h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>
